@import url("../generic.css");

/* */

/* Sélectionne les li de 1er niveau (nom des studios)*/
#p4studios + ul > li {
	color: rgb(100,170,255);
}

/* Sélectionne les ul de 2e niveau (pour contrer la règle précédente) */
#p4studios + ul ul {
	/* On met quoi ? */
}

/* Sélectionne les li avec les liens vers un jeu  + les sources */
#sources + ul {
	color: rgb(100,255,100);
}
.game, #sources + ul {
	text-transform: uppercase;
}

/* Remplace la couleur par défaut des liens vers un jeu (uniquement :linked) */
.game + li a:link {
	color: inherit
}

/* Sélectionne les li avec un lien vers un forum */
.game + li {
	color: rgb(255,160,140);
	font-style: italic;
}

/* Remplace la couleur des liens des .game avec dans class le mot "dejaVu" (description sur ce site pour SYABH) */
.game[class~="dejaVu"] a:link, .game[class~="dejaVu"] a:visited {
	color: purple;
}

/* Sélectionne la premiere lettre des sources */
#sources + ul > li:first-letter {
	font-size: 167%;
	font-weight: bold;
}
