@import url("../generic.css");

.menu {
}
.menu > li {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	min-width: 18em;
	list-style-image:url(../../Images/index/commielinux.png);
}

a:hover
{
	background-color:yellow;
}

h1
{
	color:red;
	background-color:silver;
}

#MappedPic {
	text-align: center;
	margin: 2em 0px;
}
#MappedPic img {
}
