@import url("../generic.css");
html 
{ 
  background: url(../../Images/generic/possible_bg/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
	  background-size: cover;
}

table,tr, td
{
	border-collapse:collapse;
	border:thin groove red;
	text-align:center;
}

/*******************
*Centers the tables*
********************/
table
{
	width:100%;
	height:100%;
	margin: 0 auto;
}

th
{
	text-decoration:underline;
}

caption
{
	color:silver;
	font-weight:bolder;
	font-style: italic;
}

/*partie auparavant dans la page*/

#second_table, #fourth_table {
	border-collapse: collapse;
	display: inline-table;
}

#second_table, #second_table th,td
{
	text-align: center;
	border: 1px black solid;
}

#fourth_table, #fourth_table th,td {
	text-align: center;
	border: 1px black solid;
}

#screenshots {
	text-align: center;
}
#screenshots > div {
	display: inline-block;
	width: 27%;
	margin: 0px 2%;
	text-align: center;
}
#screenshots img, .tableImg img {
	display: block;
	margin: 0px auto;
	width: 90%;
}
#screenshots p {
	margin: 0px;
	color: rgb(70,70,70);
	font-style: italic;
}
img[alt="logo LoL"] {
	width: 300px;
	max-width: 50%;
}

.tableImg {
	margin: 2em 0px;
	text-align: center;
}
.tableImg div {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	margin: 2em 10%;
}
