@import url("../generic.css");
html 
{ 
  background: url(../../Images/generic/possible_bg/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
	  background-size: cover;
}

#testSyabh {
	margin-top: 3em;
}
#syabh {
	text-align: center;
}

.left, .right {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 0px 2%;
	text-align: justify;
}

.left img, .right img {
	display: block;
	margin: 0px auto;
}

strong {
	text-decoration: none;
}
p {
	text-indent: 2em;
}
p:first-letter {
	font-size: 150%;
	font-family: Consolas, monospace;
}

blockquote {
	font-family: Consolas, monospace;
	width: 90%;
	padding: 0px 1.5em;
	margin: auto;
	border: 2px grey dashed;
}
blockquote > p {
	text-indent: 0px;
}
blockquote > p:first-letter {
	font-size: 100%;
}

/* Au passage sur le blockquote*/
blockquote:hover {
	color: rgb(180,180,180);
	background-color: rgba(0,0,180,0.2); /* background transparent */
	border: 2px grey solid;
}

/* */
strong[title="badWords"] {
	text-decoration: line-through;
}
q:before {
	content: "\AB"; /* Guillemets ouvrants « */
}
q:after {
	content: "\BB"; /* Guillemets fermants » */
}
