@import url("../generic.css");
#jeuVideo
{
	  background: url(../../Images/page_3/bg1.jpg) top left no-repeat;
}

#hardware
{
	  
	  background: url(../../Images/page_3/SirThumb.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
	      -moz-background-size: cover;
		-o-background-size: cover;
		  background-size: cover;
		  color: white;
}

#memories
{
	  background: url(../../Images/page_3/eyes.jpg) no-repeat center center fixed;
	  background-size:cover;
}

input:focus
{
	background-color:green;
}
