@media screen
{
	html 
	{ 
	  background: url(../Images/generic/possible_bg/background.jpg) no-repeat center center fixed; 
	    -webkit-background-size: cover;
	      -moz-background-size: cover;
		-o-background-size: cover;
		  background-size: cover;
		  color: white;
		  margin-top: 9em;
	}

	.logo
	{
		position:absolute;
		top:-5px;
		right:-5px;
	}

	h1,h2,h3
	{
		background-color:silver;
		color:yellow;
	}

	div
	{
		border:thin ridge blue;
	}

	a:visited
	{
		text-decoration:line-through;
		color:green;
	}

	a:link
	{
		color:red;
	}

	.arrowBottomleft
	{
		position:absolute;
		bottom:-5px;
		left:-5px;
	}

	.arrowBottomright
	{
		position:absolute;
		bottom:-5px;
		left:-5px;
	}

	.arrowTopleft
	{
		position:absolute;
		top:-5px;
		left:-5px;
	}

	.arrowTopright
	{
		position:absolute;
		top:-5px;
		left:-5px;
	}

	#bandeau
	{
		height: 6%;
	}
	#bandeau img {
		width: 100%;
		height: 100%;
	}

	strong
	{
		font-weight:bold;
		text-decoration:blink;
	}

	em
	{
		font-style:oblique;
		text-decoration:underline;
	}

	nav li
	{
		display:inline-block;
		width:170px;
		text-align:left;
	}

	nav ul
	{
		list-style-type:none;
	}

	nav li
	{
		display:inline-block;
	}
	
	#navLinks {
	position:fixed;
	background-color:black;
	top: 0px;
	z-index: -1;
	}

	#navLinks > ul > li {
		display: inline-block;
		vertical-align: top;
		width: 15%;
		min-width: 18em;
		margin: 1em 0px;
	}
	#navArrow {
		text-align: center;
	}
	#navArrow img {
		display: inline-block;
		width: 50px;
		margin: .5em;
	}

}

@media print
{
	.logo
	{
		position:absolute;
		top:-5px;
		right:-5px;
	}

	p,div
	{
		color:black;
	}

	h1,h2
	{
		color:blue;
		text-decoration:underline;
	}

	a
	{
		color:green;
		font-style:italic;
	}

	table
	{
		margin:5px;
	}

	table th,td,tr
	{
		border-collapse:collapse;
		border:thin groove black;
		text-align:center;
	}

	#navArrow, #bandeau, #navLinks
	{
		display:none;
	}
}

